body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
canvas {
  display: block;
  position: fixed;
  left: 2em;
  top: 2em;
  margin: auto;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
}
h2{
  position: fixed;
  top: -0.7em;
  left: 2em;
}

#picture {
  display: none;
}





html {
  font-family: sans-serif;
}


input[type=text], input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit], button {
  width: 100%;
  background-color:rgb(255,191,0);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(255,191,0);
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  /* position:absolute; */
  display: block;
}

#form, ul{
  border:rgb(255,191,0);
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}
#list {
  border-style: solid;
  border:rgb(255,191,0);
}


#index {
  display: block;
}

 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
}
 
li:last-child {
  border: none;
}

li:hover {
  font-size: 30px;
  background: #f6f6f6;
  border-radius: 10px;
}