body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
canvas {
  display: block;
  position: fixed;
  left: 2em;
  top: 2em;
  margin: auto;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
}
h2{
  position: fixed;
  top: -0.7em;
  left: 2em;
}

#picture {
  display: none;
}

button {
  float: right;
  margin: 10px;
}




html {
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
  text-align: justify;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}
h3 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  background-color: LightGreen;
  color: white;

  border-width: 5px;
  border-style: dotted;
  border-color: black;
  border-radius: 8px;
}

h1 {
  /* margin-left: 50px;
  margin-right: 50px; */
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  /* background-color: rgb(152, 189, 41); */
  color: white;
  background-color: LightSalmon;
  border-width: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 80px;
}

.file-content {
  border-left: 5px solid Teal;
  font-family: monaco;
  font-size: 14px;
  border-radius: 8px;
  background-color: LightGoldenRodYellow;
  margin-right: 500px;
  color: black;
  padding: 3px;
}

.shell-code {
  background-color: black;
  /* border-left: 5px solid Teal; */
  margin-right: 500px;
  font-family: monaco;
  font-size: 14px;
  color: white;
  margin-left: 0px;
  padding: 3px 5px;
  margin-bottom:0px;
  margin-top: 0px;
}

/* p.shell-code + p.shell-code, p.shell-code > ul.shell-code {
  margin-bottom:0px;
  margin-top: 0px;
} */

.shell-code::first-letter{
  color: yellow;
}

p ~ ul{
  margin-left: 50px;
}
p ~ ol:not(#main-tutorial)  {
  margin-left: 50px;
}

mark {
  font-family: monaco;
  font-size: 16px;
  border-radius: 3px;
  background-color: Lavender;
  padding-left: 3px;
  padding-right: 3px;
}


ol.main-tutorial li{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px dotted black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 50px;
}

ol.main-tutorial > p{
  margin-left: 0px;
}

li {
  font-size: 18px;
}

pre {
  font-family: sans-serif;
  color: Gray;
}
