form {
  background-color: rgb(245, 245, 240);
  width: 300px;
  height: 350px;
}
input {
  font-size: 12px;
  display: block;
  padding: 2%;
  margin: 5%;
  width: 85%;
  height: 5%;
  border-radius: 0px;
}
div {
  border-width: thick;
}
#registerBtn {
  background-color: rgb(152, 189, 41);
  width: 90%;
  padding: 2%;
  margin: 5%;
  height: 10%;
  color: white;
  border: 0;
  border-radius: 0px;
  font-family: sans-serif;
  font-size: 12px;

}
#registerBtn:hover {
  cursor: pointer
}

h2 {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(152, 189, 41);
  color: white;
}
